body_planner/slprj
body_planner/build
body_planner/Videos
body_planner/c_generated_code
body_planner/DRAFT1_testing_simulink.m
body_planner/*.asv

leg_planner/Drafts - Deprecated
leg_planner/slprj
leg_planner/Videos
leg_planner/Figures
leg_planner/*.asv

/ros_ws/.catkin_tools
/ros_ws/build
/ros_ws/devel
/ros_ws/logs
/ros_ws/src/build
/ros_ws/src/.vscode


/drake_sim/build_old